{
  "rabbitmq": [ 
    {% for host in groups['rabbitmq_servers'] %}
    {
    "host": "{{ host }}",
    "port": {{ rabbitmq_port }},
    "vhost": "{{ rabbitmq_sensu_vhost }}",
    "user": "{{ rabbitmq_sensu_user_name }}",
    "password": "{{ rabbitmq_sensu_password }}"
 }{% if not loop.last %},{% endif %}

    {% endfor %}

]
}
